<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="VideoGameAPITestSuite">
  <test thread-count="5" name="VideoGameAPITests">
    <classes>
      <class name="testCases.VideoGameAPITest"/>
    </classes>
  </test> <!-- VideoGameAPITests -->
</suite> <!-- VideoGameAPITestSuite -->
